<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @pp.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @pp.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @pp.c %>
</p>

<%= link_to 'Edit', edit_pp_path(@pp) %> |
<%= link_to 'Back', pps_path %>
